h1 {
  color: green;
  text-decoration: underline;
}

body {
  font-family: sans-serif;
}

/* Semua elemen span */
span {
  color: red;
}

.red {
  color: red;
}

.skyblue-bg {
  background-color: skyblue;
}

.fancy {
  font-weight: bold;
  text-shadow: 4px 4px 3px #77f;
}

.fancy {
  font-weight: bold;
  text-shadow: 4px 4px 3px #77f;
}

p.fancy {
  text-shadow: 4px 4px 3px #00c8eb;
}

#special {
  background-color: skyblue;
}

/* <a> element yang menerapkan href attribute */
a[href] {
  color: blue;
}

/* <a> element yang menerapkan nilai pada href dengan awalan "#" */
a[href^='#'] {
  background-color: gold;
}

/* <a> element yang menerapkan nilai pada href yang mengandung teks "example" */
a[href*='example'] {
  background-color: silver;
}

/* <a> element yang menerapkan nilai pada href yang mengandung teks "insensitive" tidak mementingkan huruf kapital*/
a[href*='insensitive' i] {
  color: cyan;
}

/* <a> element yang menerapkan nilai pada href dengan akhiran ".org" */
a[href$='.org'] {
  color: red;
}

/* Menargetkan seluruh tipe elemen */
* {
  color: green;
}

/* Menargetkan seluruh tipe elemen yang mengandung nilai "en" pada atribut lang */
*[lang^='en'] {
  font-style: italic;
}

/* Menargetkan seluruh tipe elemen yang memiliki nilai "warning" pada atribut class */
*.warning {
  color: red;
}

/* Menargetkan seluruh tipe elemen yang memiliki nilai "content" pada atribut id */
*#content {
  border: 1px solid blue;
  padding: 20px;
}

/* Rule akan diterapkan pada semua elemen <p> yang susunannya terletak setelah elemen <img> */
img ~ p {
  color: green;
}

/* Rule akan diterapkan pada elemen paragraf yang merupakan child dari elemen div */
div > p {
  background-color: yellow;
}

/* Rule akan diterapkan pada elemen header yang berada tepat setelah elemen img */
div p {
  background-color: yellow;
}

/* rule akan diterapkan pada sebuah tautan yang belum pernah dikunjungi */
a:link {
  color: red;
}

/* rule akan diterapkan pada sebuah tautan yang sudah pernah dikunjungi */
a:visited {
  color: green;
}

/* rule akan diterapkan pada sebuah tautan ketika diarahkan dengan kursor */
a:hover {
  color: pink;
}

/* rule akan diterapkan pada sebuah tautan ketika ditekan */
a:active {
  color:orange;
}

blockquote::before,
blockquote::after {
  content: '"';
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

/* Rule styling akan diterapkan pada karakter pertama di sebuah paragraf */
p::first-letter {
  font-size: 32px;
  font-weight: bold;
  color: saddlebrown;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 1.5em;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.lighter {
  font-weight: lighter;
}

.fw100 {
  font-weight: 100;
}

.fw200 {
  font-weight: 200;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.normal {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

h1 {
  font-variant: small-caps;
}

.ln2 {
  line-height: 2;
}

.ln200 {
  line-height: 200%;
}

.ln2em {
  line-height: 2em;
}

main {
  width: 80%;
  margin: 0 auto;

  border: 1px solid black;
}

p {
  border: 1px solid black;
}

.tl-left {
  text-align: left;
}

.tl-right {
  text-align: right;
}

.tl-center {
  text-align: center;
}

.tl-justify {
  text-align: justify;
}

.decoration-none {
  text-decoration: none;
}

main {
  font-family: sans-serif;
}

.transform-none {
  text-transform: none;
}

.transform-capitalize {
  text-transform: capitalize;
}

.transform-lowercase {
  text-transform: lowercase;
}

.transform-uppercase {
  text-transform: uppercase;
}

main {
  font-family: sans-serif;
}

.letter-spacing {
  letter-spacing: 4px;
}

.word-spacing {
  word-spacing: 1.5em;
}

main {
  font-family: sans-serif;
}

p {
  font-size: 2rem;
}

.one {
  text-shadow: 2px 2px 0px #000000;
  background-color: #eeeeee;
  color: #666666;
}

.two {
  text-shadow: 4px 4px 3px #666666;
  background-color: #dddddd;
  color: #666666;
}

.three {
  text-shadow: 4px 4px 7px #111111;
  background-color: #cccccc;
  color: #ffffff;
}

.four {
  text-shadow: -2px -2px #666666;
  background-color: #cccccc;
  color: #bbbbbb;
}

p {
  background-color: red;
}

p.opacity-50 {
  opacity: 50%;
}

p.opacity-100 {
  opacity: 100%;
}

body {
  font-family: sans-serif;
}

div {
  width: 50%;
  height: 200px;

  line-height: 200px;
  text-align: center;
}

.box-1 {
  background-color: rgb(255, 255, 0, 0.75);

  float: left;
}

.box-2 {
  background-color: hsl(120, 100%, 25%, 0.75);

  float: left;
  margin-left: -25%;
}

.box-3 {
  background-color: #0000ffaa;

  float: left;
  margin-left: -25%;
}

.box {
  height: 300px;
  width: 300px;
  background-color: #11c5c6;
}

p {
  height: 75%;
  width: 75%;
  background-color: #fbdd1c;
}

.content {
  max-width: 800px;
  height: 400px;

  margin-left: auto;
  margin-right: auto;
  background-color: deeppink;
}

p {
  font-size: 1.5em;
  font-weight: bold;
}

div {
  height: 200px;
  width: 200px;
  background-color: lightgreen;
}

div {
  height: 200px;
  width: 200px;
  background-color: lightgreen;
  border: 10px solid cornflowerblue;
  padding: 20px;
}

.content {
  box-sizing: content-box;
}

.box {
  box-sizing: border-box;
}

.box {
  border-top-style: solid;
  border-right-style: dotted;
  border-bottom-style: groove;
  border-left-style: double;

  border-width: 4px;
  border-color: red;
  width: 200px;
  height: 50px;
}

.box {
  border: 4px dashed #00a2c6;
  width: 200px;
}

p {
  border: 4px solid #00a2c6;
  width: 350px;
}

p.example {
  padding: 10px;
}

.box {
  width: 50%;
  border: 4px solid darkblue;
  padding: 20px;
  margin-bottom: 20px;
}

.box.center {
  margin: 0 auto;
}

li {
  display: inline;

  margin-left: 5px;
}

.box {
  width: 200px;
  height: 200px;

  background-color: greenyellow;

  box-shadow: 6px 6px 5px 10px #666666;
}

.rounded {
  width: 300px;
  padding: 20px;
  border: 4px solid deeppink;

  border-radius: 10px;
}









